


body {
    margin: 0 !important;
    height: 100vh;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    background-repeat: no-repeat !important;
}

.cat-container {
    display: flex;
    justify-content: center;
}

.card {
    min-width: 3222rem;
    height: auto;
    margin: 3rem;
    border: 1px solid #abadb3;
    border-radius: 5px;
    background-color: #fffefb;
    box-shadow: 14px 15px 17px -12px rgba(0,0,0,0.42);
    -webkit-box-shadow: 14px 15px 17px -12px rgba(0,0,0,0.42);
    -moz-box-shadow: 14px 15px 17px -12px rgba(0,0,0,0.42);
}

.cat-pic {
    width: 100%;
    height: auto;
    border-radius: 5px 5px 0 0;
}

.card-title {
    text-align: center;
    padding: 0 1em;
    font-family: Montserrat;
    font-weight: 400;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(0, 0, 0), rgba(0, 0, 0, 0));
    background-repeat: no-repeat !important;
}

.btn-container {
    display: flex;
    justify-content: center;

}

.next-btn {
    color: whitesmoke;
    font-weight: 400;
    /*display: block;*/
    font-size: 1rem;
    font-family: Montserrat;
    padding: 1rem;
    margin: 0.8rem auto;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    background-color: #26b5c1;
}

.next-btn:hover {
    background-color: #1e9ca7;
}

/* Favorites */

.fav-container {
    display: flex;
    text-align: center;
    margin: 0 auto;
    width: 90vw;
    height: auto;
    padding: 1rem;
    border-radius: 5px;
    background-color: #fffefb;
}

.fav-card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 400px;
    height: 300px;
    border: 0;
    margin: 5px;
    outline: none;
    border-radius: 5px;
    background-color: #2d3748;
    padding: 5px;
}

.fav-img {
    width: 100%;
    height: 85%;
    border: 0;
    border-radius: 5px;
    margin: 0 auto;
    outline: none;
    background-color: darkgray;
}

.rm-fav-btn {
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: 0;

    border-radius: 5px;
    font-family: var(--buttons);
}

.rm-fav-btn:hover {
    cursor: pointer;
    background-color: #ec415e;
}































